*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: uppercase;
}


header{
    /* display: block; */
    background-color: rgb(242, 241, 241);
    height: 5vh;
    width: 100%;
    box-shadow: 0px 5px 20px rgb(0, 0, 0);
}

header h1{
display: inline-block;
width: fit-content;
height: 100%;
margin-left: 5%;
padding-top: 0.4vh;
/* border: 10px solid green; */
justify-content: center;
text-decoration: underline;
/* background-color: red; */
}

ul{
    position: absolute;
    display: inline-block;
    padding: 1vh;
    right: 10%;
}

li{
    
    display: inline-block;
    margin-left: 15px;
    height: 100%;
}

a{
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: rgb(93, 93, 93);
}

h1:hover{
    color: rgb(96, 96, 96);
    transition: 0.2s ease-in;
    transform: scaleX(1.05);
    cursor: pointer;
}


div ,.bg{
    /* display: inline-flexbox; */
    width: 100%;
    height: calc(100vh - 5vh);
    background-image: url(/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
    
}

section{
    width: 100%;
    height: calc(95% - 15%);
    /* background-color: blue; */

}

section ,h2,p{
    color: white;

}

h2{
    display: inline;
    position: absolute;
    left: 39vw;
    /* background-color: red; */
    text-align: center;
    text-decoration: underline;
    margin-top: 17vh;
    text-shadow: 1.5px 1px 2px rgb(0, 0, 0);    
}

p{
    display: block;
    background-color: rgb(220, 120, 65);
    width: 50%;
    height: 13vh;
    text-align: center;
    padding: 2vh;
    margin-top: 20vh;
    margin-left: 25vw;
    line-height: 4vh;
    border-radius: 25px;
    border: 2px solid black;
    text-transform: capitalize;
}

footer{
    background-color: rgb(49, 49, 49);
    position: relative;
    top: 13vh;
    height: 6vh;
}

footer h4{
    /* background-color: red; */
    position: absolute;
    left: 45%;
    top: 35%;
    width: fit-content;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}